<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadbury</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <div class="cb-wrapper-app">
        <div class="cb-content phone-layout">
            <div class="mastdead">
                <img class="mast-head-img" src="../images/Masthead-02.png" alt="Mast head image is missing">
                <div class="cb-border-box-golden margin-auto">
                    <img class="cam-image img-center cd-img-stamp margin-auto" src="../images/Gold-Camera.png"
                        alt="Family image is missing!">
                    <div>
                        <p class="text-center">'playnow.com' would like <br />to access the Ccamera and Goro.</p>
                    </div>
                </div>
                <button class="btn btn-primary margin-auto mt-3">OKAY</button>
            </div>
        </div>
    </div>
</body>

</html>