<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadbury</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/style.css">
</head>

<body class="desktop">
    <div>
        <div class="container">
            <div class="cb-wrapper-app row">
                <div class="col-md-5">
                    <div class="masthead-03">
                        <img class="img-masthead-03 cd-img-base" src="../images/Masthead-03.png"
                            alt="Masthead is missing!">
                    </div>
                </div>
                <div class="cb-content col-md-3">
                    <div class="heading padding-top-20">
                        <h2 class="text-center">Looks like your're on desktop</h2>
                        <h4 class="text-center">Kindly scan the QR code<br />to praticipate in thee content.</h4>
                    </div>
                    <img class="margin-auto" src="../images/qr.jpeg" alt="cadbury qr code!">
                </div>
                <!-- <div class="cb-logo col-md-2">
                    <img src="../images/CDM.png" alt="cb-image">
                </div> -->
            </div>
        </div>
    </div>
</body>

</html>