<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadbury</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <div class="cb-wrapper-app">
        <div class="cb-content phone-layout">
            <div class="mastdead">
                <img class="mast-head-img" src="../images/Masthead-01.png" alt="Mast head image is missing">
                <img class="family-img" src="../images/Family.png" alt="Family image is missing!">
            </div>
            <div class="heading text-center">
                <h2 class="heading">Personalise your gift<br />Support your loved one.</h2>
            </div>
            <span class="text-white text-center">Requires min purchase of 15RM of <br />cadbury products</span>
            <div class="actions d-flex justify-content-center">
                <button type="button" class="btn btn-primary">Purchase</button>
                <button type="button" class="btn btn-primary">Next</button>
            </div>
        </div>
    </div>
</body>

</html>