<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadbury</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <div class="cb-wrapper-app">
        <div class="cb-content phone-layout">
            <img class="mast-head-img" src="../images/Masthead-01.png" alt="Mast head image is missing">
            <h2 class="cd-text-primary text-center mb-4">You have a message <br />from someone <br />SPECIAL!</h2>
            <button class="btn btn-primary margin-auto">PLAY NOW</button>
        </div>
    </div>
</body>

</html>