<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadbury</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <div class="cb-wrapper-app">
        <div class="cb-content phone-layout">
            <div class="mastdead">
                <img class="mast-head-img" src="../images/Masthead-01.png" alt="Mast head image is missing">
                <div class="cb-border-box-golden margin-auto">
                    <h4>What is cadburry <br />CNY campaign name?</h4>
                    <textarea class="cb-full-width cb-border-radius" name="question-pop-up" id="question-pop-up"
                        cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
</body>

</html>