@font-face {
  font-family: cadburyFont;
  src: url('../fonts/DairyMilkFont-Medium.otf');
}

html {
  height: 100%;
}

body {
  background: #471d7b !important;
  height: 100%;
  color: #fff;
  font-family: cadburyFont !important;
}

a{
  text-decoration: none !important;
}

body > div > .desktop {
  height: 100%;
}
.mobile-head{
  min-height: 700px;
}
button {
  margin-left: 10px;
  margin-right: 10px;
}

li {
  list-style: none;
}

.heading {
  color: #e3b870;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
}

.sub-heading {
  color: #e3b870;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  sub-line-height: 1.5;
}

.phone-layout {
  min-height: 100vh;
  max-height: 100%;
  background-image: url("../images/BG-02.png");  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.desktop {
  background-image: url("../images/BG-04.png");
  background-size: cover;
  padding-top: 100px;
}

.desktop > div {
  background: url("../images/CDM.png") no-repeat 100% 0;
  height: 100%;
}

.mast-head-img {
  max-width: 80%;
  margin: auto;
  display: block;
  height: 220px;
}

.cd-img-base {
  max-width: 710px;
}

.padding-top-20 {
  padding-top: 200px;
}

.margin-auto {
  margin: auto;
  display: block !important;
}

.cb-mr-2 {
  margin-right: 20px;
}

.cb-border-box-golden {
  border: 2px solid #e3b870;
  border-radius: 16px;
  max-width: 80%;
  padding: 10px;
  font-size: 14px;
}

.cb-full-width {
  display: block;
  width: 100%;
}

.cb-border-radius {
  border-radius: 12px;
}

.cd-text-primary {
  color: #e3b870;
}

.text-white {
  color: #fff !important;
}

.text-center {
  text-align: center;
  display: block;
}

.cd-intext-icon {
  height: 16px;
}

.cd-img-small {
  max-width: 400px;
}

.cd-img-stamp {
  /* width: 50vw; */
  height: 100px;
}

.family-img {
  max-width: 650px;
  margin: auto;
  display: block;
}

.g-recaptcha {
  display: table;
  margin: auto;
}

.container {
  min-width: 90% !important;
}

.btn-primary {
  background: #2a0a49 !important;
  border: 1px solid #e3b870 !important;
  -webkit-box-shadow: 0px 3px #2a0a49 !important;
          box-shadow: 0px 3px #2a0a49 !important;
  border-radius: 100px !important;
  min-width: 150px !important;
  text-align: center !important;
  text-transform: uppercase !important;
  cursor: pointer;
}
.btn-primary:hover{
  border: 1px solid #e3b870 !important;
  -webkit-box-shadow: 0px 5px #2a0a49 !important;
          box-shadow: 0px 5px #2a0a49 !important;
}

.cd-modal-primary .modal-content {
  border: 2px solid #e3b870;
  border-radius: 12px;
  background: #471d7b;
  min-height: 200px;
}

.cd-modal-primary .btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.cd-modal-primary .btn-pay {
  width: 70px;
  height: 70px;
  background: #2a0a49;
  display: inline-block;
  border-radius: 50%;
  margin-top: 50px;
  border: 1px solid #e3b870;
  -webkit-box-shadow: 1px 3px #2a0a49;
          box-shadow: 1px 3px #2a0a49;
}

.cd-modal-primary .btn-pay > img {
  width: 45px;
  vertical-align: middle;
  margin-top: 14px;
}

.cb-backend {
  background: #fff;
}

.cb-backend thead {
  text-align: center;
  text-transform: uppercase;
}
.landing-family{
  height: 30vh;
  width: auto;
}
.landing-slogan{
  margin: 20px auto;
  text-align: center;
  color: #E3B870;
}
.landing-buttons{
  margin: 50px auto;
  text-align: center;
}
.landing-button{
  width: 50%;
  float: left;
}
.landing-modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(0,0,0,0.6);
}
.landing-modal.show{
  display: block;
}
.modal-body{
  position: relative;
  padding: 50px;
  height: 150px;
  width: 75%;
  margin: 30vh auto;
  text-align: center;
  background-color: #471d7b;
  border: 2px solid #E3B870;
  border-radius: 15px;
}
.btn-pay img{
  height: 60px;
  width: 60px;
  margin-top: 30px;
  padding: 10px;
  border-radius: 50%;
  
}
.landing-main-body{
  min-height: 600px;
}

.landing-modal .btn-pay{
  padding: 20px;
}
.landing-modal .lazada img{
  border: 1px solid #E3B870;
  background: rgb(7, 7, 189);
}
.landing-modal .shopee img{
  border: 1px solid #E3B870;
  background: rgb(211, 137, 0);
}
.landing-modal .modal-close{
  color: #E3B870;
  position: absolute;
  top:5px;
  right: 10px;
}
.registration-form{
  padding: 5vw;
  width: 100%;
}
.upload-recipet-text{
  font-size: 20px;
}
.btn.upload-button{
  padding: 0.35rem 0.67rem;
  font-size: 0.75rem;
}
.receipt-name{
  font-size: 15px;
  color: white;
}
.terms-condition-box{
  color: white;
}
.termsAndPrivacy{
  color: red;
}