@font-face {
  font-family: cadburyFont;
  src: url('../fonts/DairyMilkFont-Medium.otf');
}
/* Variables */
:root{
  --color-primary: #471d7b;
  --color-primary-light: #6e5294;
  --color-primary-dark: #2a0a49;
  --color-secondary: #e3b870;
  --color-white: #ffffff;
  --color-black: #000000;

  --base-font-size: 14px;
  --heading-font-size: calc(var(--base-font-size) + 10px);
  --sub-heading-font-size: calc(var(--base-font-size) + 4px);
  --font-3x: calc(var(--base-font-size) * 4);
}
/* Global */
html {
  /* height: 100vh; */
}
h2,h4{
  font-family: cadburyFont !important;
}

body {
  background: var(--color-primary) !important;
  /* height: 100vh; */
  color: var(--color-white);
  font-family: cadburyFont !important;
}
#root{
  /* height: 100vh; */
}
/* body>div{
  height: 100%;
} */
/* Links */
a{
  text-decoration: none !important;
}
li {
  list-style: none;
}
.desktop-qr{
  border-radius: 20%;
  height: 200px;
  width: 200px;
}
/* Typography */
.heading {
  color: var(--color-secondary);
  font-size: var(--heading-font-size);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
}

.sub-heading {
  color: var(--color-secondary);
  font-size: var(--sub-heading-font-size);
  font-family: Arial, Helvetica, sans-serif;
  /* sub-line-height: 1.5; */
}

.cd-text-3x{
  font-size: var(--font-3x);
}

.cb-text-small{
  font-size: calc(var(--base-font-size) - 3px);
}
.cb-text-black{
  color: var(--color-black) !important;
}
.cb-text-primary{
  color: var(--color-primary);
}
.text-red{
  color: red;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-primary-light) !important;
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--color-primary-light) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--color-primary-light) !important;
}
.form-select{
  color: var(--color-primary-light) !important;
}
.form-control{
  color: var(--color-primary-light) !important;
}
.form-cal-icon{
  height: 22px;
  background: white;
  width: 22px;
  top: 7px;
  right: 14px;
  position: absolute;
}
.react-datepicker-wrapper input{
  display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-primary-light) !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.date-placeholder{
  position: absolute;
  top: 6px;
  line-height: 1;
  left: 13px;
  font-size: 13px;
  color: var(--color-primary-light) !important;
}
.upload-recipet-text{
  font-size: 20px;
}
.form-ele-box{
  position: relative;
}
.cd-text-capitalize{
  text-transform: capitalize;
}
/* Spacing */
.padding-top-20 {
  padding-top: 200px;
}
.padding-top-10 {
  padding-top: 100px;
}
.margin-auto {
  margin: auto;
  display: block !important;
}

.cb-mr-2 {
  margin-right: 20px;
}

.cb-border-box-golden {
  border: 2px solid var(--color-secondary);
  border-radius: 16px;
  max-width: 80%;
  padding: 10px;
  background: #482680;
}

.cb-full-width {
  display: block;
  width: 100%;
}

.cb-border-radius {
  border-radius: 12px;
}

.cd-text-primary {
  color: var(--color-secondary);
}

.text-white {
  color: var(--color-secondary) !important;
}

.text-center {
  text-align: center;
  display: block;
}

.cd-intext-icon {
  height: 16px;
}

.cd-img-small {
  max-width: 400px;
}

.cd-img-stamp {
  height: 19vh;
}

.family-img {
  max-width: 650px;
  margin: auto;
  display: block;
}

.g-recaptcha {
  display: table;
  margin: auto;
}

.container {
  min-width: 90% !important;
}
audio{
  display: none !important;
}
.btn-primary {
  background: #2a0a49 !important;
  border: 1px solid #E3B870 !important;
  -webkit-box-shadow: 0px 3px #2a0a49 !important;
          box-shadow: 0px 5px #2a0a49 !important;
  border-radius: 100px !important;
  min-width: 150px !important;
  text-align: center !important;
  text-transform: uppercase !important;
  cursor: pointer;
}
.btn-primary:active{
  transform: scale(1.1);
}

.cd-modal-primary .modal-content {
  border: 2px solid var(--color-secondary);
  border-radius: 12px;
  background: var(--color-primary);
  min-height: 200px;
}

.cd-modal-primary .btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.cd-modal-primary .btn-pay {
  width: 70px;
  height: 70px;
  background: var(--color-primary);
  display: inline-block;
  border-radius: 50%;
  margin-top: 50px;
  border: 1px solid var(--color-secondary);
  -webkit-box-shadow: 1px 3px var(--color-primary);
          box-shadow: 1px 3px var(--color-primary);
}

.cd-modal-primary .btn-pay > img {
  width: 45px;
  vertical-align: middle;
  margin-top: 14px;
}


.cb-backend thead {
  text-align: center;
  text-transform: uppercase;
}
.landing-family{
  height: 42vh;
  width: auto;
  margin-top: -68px;
}
.landing-slogan{
  margin: 10px auto;
  text-align: center;
  color: #E3B870;
}
.landing-buttons{
  margin: 100px auto;
  text-align: center;
}
.landing-main-body .landing-buttons{
  margin: 0 !important;
}
.landing-button{
  width: 50%;
  float: left;
}
.require-min-purchase{
  padding: 0px 17px;
  font-size: 10px;
  margin: 0 0 5px 0;
  width: 50%;
  color: #E3B870;
  text-align: center;
}

.landing-modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(0,0,0,0.6);
}
.landing-modal.show{
  display: block;
}
.modal-body{
  position: relative;
  padding: 50px;
  height: 150px;
  width: 75%;
  margin: 30vh auto;
  text-align: center;
  background-color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  border-radius: 15px;
}
.btn-pay img{
  height: 60px;
  width: 60px;
  margin-top: 30px;
  padding: 10px;
  border-radius: 50%;
  
}
.landing-main-body{
  min-height: 600px;
}

.landing-modal .btn-pay{
  padding: 20px;
}
.landing-modal .lazada img{
  border: 1px solid #E3B870;
  background: #0C0F82;
  -webkit-box-shadow: 0px 3px #2a0a49 !important;
          box-shadow: 0px 5px #2a0a49 !important;
}
.landing-modal .shopee img{
  border: 1px solid #E3B870;
  background: #EE4D2D;
  -webkit-box-shadow: 0px 3px #2a0a49 !important;
          box-shadow: 0px 5px #2a0a49 !important;
}
.landing-modal .modal-close{
  color: var(--color-secondary);
  position: absolute;
  top:5px;
  right: 10px;
}
.modal-close img{
  height: 10px;
}
.registration-form{
  padding: 5vw;
  width: 100%;
}

.btn.upload-button{
  padding: 0.35rem 0.67rem;
  margin-top: 15px
}
.receipt-name{
  font-size: var(--base-font-size);
  color: white;
}
.terms-condition-box{
  color: white;
  font-size: 14px;
}
.termsAndPrivacy{
  color: red;
}
.creation-body{
  /* position: relative; */
  text-align: center;
  height: 100vh;
}
.control-box{
  position: absolute;
  z-index: 1000;
  bottom: 30px;  
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.creation-camera-box{
  margin: 10px;
}
.filter-selection{
  display: inline-flex;
  align-items: center;
}
.creation-camera-btn.vdo-start{
  height: 16vw;
  width: 16vw;
  padding: 6px;
  border-radius: 46%;
  background: #2a0a49;
  border: 1px solid #E3B870; 
}
.creation-camera-btn.vdo-run {
  height: 16vw;
  width: 16vw;
}
.control-box-buffer{
  position: absolute;
  z-index: 1000;
  bottom: 4vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.creation-buffer-btn{
  height: 50px;
  width: 50px;
  padding: 6px;
  margin: 10px;
  border-radius: 50%;
  background: #471d7b;
  border: 1px solid   ;
}
.creation-filter-btn{
  position: relative;  
  margin: 2px;
}
.creation-filter-btn img{
  height: 15vw;
  width: 15vw;
  filter: grayscale(50%);
}
.creation-filter-btn.active img{
  filter: none;
}
.thankyou .mast-head-img{
  height: 30vh;
  width: auto;
}
/* Layout */

.phone-layout {
  min-height: 100vh;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background-image: url("../images/BG-02.png");  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
.cursor-pointer{
  cursor: pointer;
}
.desktop {
  background-image: url("../images/BG-04.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  /* height: 100vh; */
  /* min-height: 100vh;
  max-height: 100%; */
  /* width: 100vw; */
}
.text-right{
  text-align: right !important;
}
.cb-content{
  position: relative;
}
.desktop-cadbury-pour {
  height: 96vh;
  position: relative;
  left: 1vw;
  top: 12vh;
}
.desktop .heading h4{
  font-size: 15px;
}
.page-navigation{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 50px 0;
}
.margin-zero{
  margin: 0 !important;
}
/* Elements */
button {
  margin-left: 10px;
  margin-right: 10px;
}
.share-btn{
  margin-top: -3vh;
}
/* Images */
.mast-head-img {
  max-width: 80%;
  margin: auto;
  display: block;
  height: 42vh;
}
.main-msg{
  margin-top: -4vh;  
  margin-bottom: 0;
}
.winner-msg{
  margin-bottom: 4vh;
  font-size:12px;
}
.little-gift{
  font-size: 1.2em;
}
.cd-img-base {
  width: 106%;
  margin-left: -4vw;
  margin-top: 10vh;
}
.looks-like{
  font-size: 1.2rem  !important;
}
.question-text{
  text-align: center;
  letter-spacing: 1.2px;
  font-size: 6.5vw;
}
.cb-img-thank{
  width: auto;
  height: 23vh;
  margin: auto;
  display: table;
  margin-top: -6vh;
  padding-left: 20px;
}
.save-anwser-btn{
  margin-top: 5vh;
}
.coming-soon-slogan{
  margin-bottom: 0;
  font-size: 26px;
}
.text-coming-soon-small{
  text-align: center;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
}
/* Forms */
.question-popup-textaria{
  padding: 10px;
  border-radius: 16px;
  width: 100%;
  height: 20vh;
}
/* Table */
thead>tr{
  border-top: 2px solid var(--color-secondary);
}
thead td{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
thead img{
  max-height: 35px;
}

.cb-video-player{
  width: 100% !important;
  height: auto !important;  
}
.video-preview-wrapper{
  height: 100vh;
}
/* Device */
body > div > .desktop {
  height: 100%;
}

.mobile-head{
  min-height: 700px;
}
footer p{
  font-size: 10px;
}
.landing-main-body footer{
  margin-top: 9vh;
}
/* Backend */
.cb-backend{
  background-color: var(--color-white);
  height: 100%;
  padding: 15px;
}
.cb-backend h2{
  color: #2a0a49;
}
tbody *{
  font-weight: normal;
  text-align: center;
}
.table>:not(:first-child){
  border-top: 0 none !important;
}
.table-striped>tbody>tr:nth-of-type(odd)>*{
  background-color: var(--color-primary-light);
  color: var(--color-white) !important;
}
.table-striped>tbody>tr>*{
  padding: 25px 0;
}
.table-striped .svg-inline--fa{
  background: white;
    color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    padding: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.table-striped .svg-inline--fa + .svg-inline--fa{
  margin-left: 5px;
}

/* Fixes */
td .form-check .form-check-input{
  margin: auto;
}
.admin-partion{
  border-right: 2px solid #E3B870;
  border-left: 2px solid #E3B870;
  border-top: none;
  border-bottom: none;
  background: white !important;
  opacity: 0;
}
.cb-backend table{
  font-size: 14px;
}
.qr-page svg{
  border: 2px solid #E3B870;
  padding: 20px;
  margin-top: 30vh;
}
.whiteWrapper{
  background-color: white;
  height: 100vh;
  width: 100vw;
}
.qr-user-id{
  margin: 30px auto;
  border: 1px solid #2a0a49;
  padding: 5px;
  border-radius: 5px;
  width: 300px;
}
.qr-user-id h2{
  margin: 0;
  font-size: 20px;
}
.creation-preview-body{
  /* width: 100vw;
  height: 100vh; */
}
.special-message-img{
  height: auto;
  width: 90vw;
  margin-top: -10vh;
}
/* #deepar-canvas{
  opacity: 0;;
} */
.message-play-wrapper .mp-video-player{
  width: 100vw;
  height: 100vh;
}
.message-play-button {
  display: inline-flex;
  padding: 5px;
  margin: 5px;
  background-color: #2a0a49;
  border-radius: 50%;
  border: 1px solid #E3B870
}
.message-play-button img{
  height: auto;
  width: 8vw;
}
/* .message-play-button img.dwn{
  margin: 2px
} */
.generalTC{
  margin-bottom: 0 !important;
}
a.generalTermsAndPrivacy{
  color: white;
  margin: 3px;
  text-decoration: underline !important;
}